*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    background-color: green;
    color: white;
    margin: 10px 10px;
    padding: 12px;
    border-radius: 15px;
    animation: infinite linear;
    animation-duration: 1350ms;
    animation-name: doido;
}

section > div{
    background-color: green;
    height: 50px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
}

button{
    width: 140px;
    height: 40px;
    margin: 5px;
}

.vid{
    color: rgba(255, 255, 255, 0.815);
    background-color: blue;
    padding: 10px;
    border-radius: 12px;
    width: 130px;
    margin: auto;
    margin-top: 100px;
    animation: infinite linear;
    animation-duration: 1.75s;
    animation-name: vai;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes vai {

    0%{
        background-color: green;
        transform: rotate(0deg);
    }
    
    33%{
        background-color: blue;
        transform: rotate(120deg);
    }
    66%{
        background-color: red;
        transform: rotate(240deg);
    }
    100%{
        background-color: green;
        transform: rotate(360deg);
    }
}

@keyframes doido {

    0%{
        background-color: black;
    }
    25%{
        background-color: rgb(68, 68, 68);
    }
    50%{
        background-color: wheat;
    }
    75%{
        background-color: rgb(68, 68, 68);
    }
    100%{
        background-color: black
    }
}